/* font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Cinzel', serif;
font-family: 'Satisfy', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Cookie', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Kalam', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Handlee', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Caveat', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Damion', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Modak', cursive;
font-family: 'Nosifer', cursive; */
/* source: https://fonts.google.com/?selection.family=Amatic+SC|Architects+Daughter|Caveat|Cinzel|Cookie|Cormorant+Garamond|Damion|Dancing+Script:400,700|Gloria+Hallelujah|Great+Vibes|Handlee|Homemade+Apple|Indie+Flower|Just+Another+Hand|Kalam|Kaushan+Script|Lobster|Lobster+Two|Marck+Script|Modak|Nosifer|Nothing+You+Could+Do|Pacifico|Permanent+Marker|Rock+Salt|Sacramento|Satisfy|Sedgwick+Ave+Display|Tangerine|Yellowtail */
