@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* font-family: 'Yellowtail', cursive;
font-family: 'Dancing Script', cursive;
 */

body{margin: 0;}

div {
    background-color: gray;
    height: 33vw;
    width: 33vw;
    float: left;
    margin: 0,16666665vw;
    box-sizing: border-box;
    text-align: center;
    border: 3px solid gold;
    
}

.one{ background-color: green;}
.two {background-color:red;}
.three { background-color: blue;}
.four{background-color:royalblue;}
.five{background-color:lavender;}

.zes{background-color:pink;}
.zeven{background-color:purple;}
.acht{background-color:honeydew;}
.negen{background-color:hotpink;}
.tien{background-color:darkcyan;}
.elf{background-color:darkgoldenrod;}
.twaalf{background-color:darkgray;}
.der{background-color:darkkhaki;}
.veer{background-color:darkolivegreen;}
.vijf{background-color:darkred;}

body{
    background-color: #999999;
}
h1{
    font-family: Raleway;
    /* margin-left: 20px; */
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px  solid #f1f1f1;
    padding-bottom: 1.66px;
    width: 30%;
}
img {
    width: 30%;
    /* width: 30vw; */
    /* height: 30vw; */
    /* margin: 1.66665vw; */
    margin: 1.66%;
    float: left;
}